#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main-wrapper {
  display: flex;
}

.sub-wrapper {
  margin: 50px;
}

.main-wrapper-today {
  display: flex;
  border: #88F solid
}

.sub-wrapper-today {
  margin: 1px;
  display: flex;
}

.p-today {
  font-weight: 100;
  margin: 0;
}

.main-horizontal-wrapper-roids {
  display: flex;
  flex-direction: column;
  border: #777 solid 1px;
  margin-bottom: 20px;
}

.horizontal-wrapper {
  display: flex;
  flex-direction: column;
}

.vertical-wrapper {
  display: flex;
  flex-direction: row;
}

.lined {
  border: #faa solid 1px
}