#root {
  min-height: 3000px;
  margin: 0 auto;
}

.auth {
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main-wrapper {
  display: flex;
}

.sub-wrapper {
  margin: 50px;
  text-align: center;
  width: 350px;
}

.main-wrapper-today {
  display: flex;
  border: #88F solid
}

.sub-wrapper-today {
  margin: 1px;
  display: flex;
}

.p-text {
  font-weight: 100;
  margin: 0;
  text-align: left;
  margin-left: 5px;
}

.p-text-seconday {
  font-size: small;
}

.main-horizontal-wrapper-roids {
  display: flex;
  flex-direction: column;
  border: #777 solid 0px;
  margin-bottom: 2px;
  border-bottom: #aaa solid 1px;
}

.bottom-margin {
  margin-bottom: 2px;
  border-bottom: #aaa solid 1px;
}

.horizontal-wrapper {
  display: flex;
  flex-direction: column;
}

.vertical-wrapper {
  display: flex;
  flex-direction: row;
}

.lined {
  border: #777 solid 1px
}

.left-margin-5 {
  margin-left: 5px;
}

.top-margin-assetlogo {
  margin-top: 8px;
}

.today-card {
  border: #777 solid 0px
}

.red-dot {
  background-color: #f00;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-left: 5px;
  position: relative;
  top: 8px;
}

.green-dot {
  background-color: #0f0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-left: 5px;
  position: relative;
  top: 8px;
}