#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main-wrapper {
  display: flex;
}

.sub-wrapper {
  margin: 50px;
}

.main-wrapper-today {
  display: flex;
  border: #88F solid
}

.sub-wrapper-today {
  margin: 1px;
  display: flex;
}

.p-today {
  font-weight: 100;
  margin: 0;
}